html
{
	font-family: 'Trebuchet MS' !important;
}
body
{
	background: #005C89;
	margin:0;
}
#leftArea
{
	position: absolute;
	width: 300px;
	top: 0px;
	bottom: 0px;
}
#rightArea
{
	position: fixed;
	right: 0px;
	bottom: 0px;
	background: blue;
}
#contentArea
{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 300px;
	overflow: auto;
	padding: 20px 20px 20px 20px;
}
#leftArea #appTitle
{
	color: white;
	height: 60px;
}
#leftArea #appTitle span
{
	display: block;
}
#leftArea #appTitle span.main
{
	margin-left: 55px;
	font-style: italic;
	font-size: 2.5em;
}
#leftArea #appTitle span.subTitle
{
	font-size: 1em;
	float: right;
	margin-right: 80px;
	margin-top: -10px;
}
#leftArea #menu-container
{
	width: 100%;
	
	bottom: 0px;
	top:60px;
	position: absolute;
	padding-top: 20px;
}
#leftArea ul#menu
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#leftArea ul#menu li a.current,
	#contentArea
{
	background: white;
}
#leftArea ul#menu li a.current
{
	font-size: 1.5em;
	color: black;
	padding: 10px 0 10px 20px;
}
#leftArea ul#menu li a
{
	font-size: 1.2em;
	color: #DDFFFF;
	display: block;
	text-decoration: none;
	padding: 10px 0 10px 20px; 
}
#leftArea ul#menu li a:hover
{
	background: #3198C1;
	color: white;
}