/* colour scheme: https://coolors.co/app/fe4a49-2ab7ca-fed766-e6e6ea-f4f4f8 */
html
{
	font-family: 'Trebuchet MS' !important;
}
body
{
	/*Left Menu*/
	background: #2ab7ca;
	margin:0;
}


	#contentArea
{
	background: #f4f4f8;
}
#leftArea ul#menu li a.current
{
	font-weight: bold;
	border-right: 20px solid #fed766;
}
#leftArea
{
	position: absolute;
	width: 250px;
	top: 0px;
	bottom: 0px;
}
#rightArea
{
	position: fixed;
	right: 0px;
	bottom: 0px;
	background: blue;
}
#contentArea
{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 250px;
	overflow: auto;
	padding: 20px 20px 20px 20px;
}
#leftArea #appTitle
{
	color: #f4f4f8;
	height: 60px;
}
ul li a
{
	color: #E8EEFF;
}
#leftArea #appTitle span
{
	display: block;
}
#leftArea #appTitle span.main
{
	margin-left: 35px;
	font-style: italic;
	font-size: 2.5em;
}
#leftArea #appTitle span.subTitle
{
	font-size: 1em;
	float: right;
	margin-right: 50px;
	margin-top: -10px;
}
#leftArea #menu-container
{
	width: 100%;
	
	bottom: 0px;
	top:60px;
	position: absolute;
	padding-top: 20px;
}
#leftArea ul#menu
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#leftArea ul#menu li a.current
{
	font-size: 1.5em;
	padding: 10px 0 10px 20px;
}
#leftArea ul#menu li a
{
	font-size: 1.2em;
	display: block;
	text-decoration: none;
	padding: 10px 0 10px 20px; 
}
#leftArea ul#menu li a:hover
{
	background: #fed766;
	color: white;
}