html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}
#leftArea
{
	width: 200px;
	height: 100%;
	background: red;
	float: left;
}

#leftArea ul#menu
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#leftArea ul#menu li
{
	height: 40px;
}
#leftArea ul#menu .header
{
	background: orange;
}